* {
  background-color: #252b34;
  color: #ffff;
  font-family: NotoSansKR-Regular;
}

#app {
  padding: 10px;
}

.divider {
  border-bottom: 1.5px solid #434c59;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: NotoSansKR-Bold;
}

canvas {
  width: 1000px !important;
  height: 500px !important;
}

button {
  background-color: #0978ff;
  height: 40px;
  color: #ffff;
  border-radius: 4px;
  border: 0;
  font-family: NotoSansKR-Bold;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  min-width: 127px;
}

.deviceUl > li,
.tagUl > li {
  margin-top: 5px;
  list-style: none;
  padding-left: 10px;
}

.tagUl,
.deviceUl {
  display: block;
  padding-left: 10px;
}

/* DROPDOWN */

.btn,
.dropdown-toggle,
.btn-secondary {
  padding-top: 3px !important;
  height: 30px;
}

a.dropdown-item {
  background-color: #ffff;
}

a.dropdown-item:hover {
  background-color: gray;
  color: white;
}

p {
  display: inline;
  font-family: NotoSansKR-Bold;
  font-size: 20px;
  margin-right: 10px;
}

/* TAG MONITORING */
.tagGraph p {
  display: inline;
  font-family: NotoSansKR-Bold;
  font-size: 20px;
  margin-right: 10px;
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('./font/NotoSansKR-Regular.c3f8d68f.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR-Bold';
  src: url('./font/NotoSansKR-Bold.38c81d5e.otf') format('opentype');
}

@media screen and (max-width: 400px) {
  canvas {
    width: 400px !important;
    height: 200px !important;
  }
}
